@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;

  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-200: #bfdbfe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;

  --color-surface: #f8fafc;
  --color-ink: #0f172a;
  --color-muted: #64748b;
}


html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
}